<html>
  <head>
    <title>GemMonitor Report</title>
    <script src="http://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js" integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/plugins/foundation.accordion.js"></script>
    <style>
        .green{
          color: green;
        }

        .red{
          color: red;
        }
    </style>
  </head>
  <body>
    <div class="top-bar">
      <div class="top-bar-title"><b>GemMonitor Report</b></div>
      <div>
        <div class="top-bar-left"></div>
        <div class="top-bar-right"><%= Date.today.to_s %></div>
      </div>
    </div>
    <div class="row">
      <div class="small-8 medium-8 large-8 large-push-2 medium-push-2 small-push-2">
        <div class="callout">
          <div class="row">
            <div class="small-4 medium-4 large-4 columns"><b>Gem Name</b></div>
            <div class="small-4 medium-4 large-4 columns"><b>Project Version</b></div>
            <div class="small-4 medium-4 large-4 columns"><b>Latest Version</b></div>
          </div>
          <ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">
            <% if @project_gems %>
              <% @project_gems.each do |project_gem| %>
                <li class="accordion-item" data-accordion-item>
                  <a href="#" class="accordion-title <%= project_gem.output_html_class %>">
                    <div class="row">
                      <div class="small-4 medium-4 large-4 columns"><b><%= project_gem.name %></b></div>
                      <div class="small-4 medium-4 large-4 columns"><b><%= project_gem.output_project_version %></b></div>
                      <div class="small-4 medium-4 large-4 columns"><b><%= project_gem.output_latest_version %></b></div>
                    </div>
                  </a>
                  <div class="accordion-content" data-tab-content>
                    Comming Soon! (Info on the gem)
                  </div>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
